/*Dayane*/
.dayane{
  background-color: black;
  height: 600px;
}
.graph{
  height: 100px;
}
.part1{
  background-color: aqua;
  height: 600px;
}
.bitcoinGraphleft{
  padding-bottom: 2%;
  background: yellow;
  height:550px;
  border-bottom: 3px rgb(red, green, blue) solid;
  color:blue;
  list-style: none;
  margin: 1em 0;
  padding: 0em;
  position: relative;
}

.bitcoinGraphleft li{
  border-left: 3px solid black;
  height: 50px;
  padding:0,0,0,0;
  margin: 0;
  text-align: left;

}




/*Verrah*/



/*Paterne*/
.global{
  margin-right: 15px;
}
  .titre{
    color: rgba(190, 187, 9, 0.911);
    font-family: Fontsalbo;
    font-size: 75px;
    font-style: italic;
    text-decoration: underline;
  }
  @font-face {
    font-family: FontOpen;
    src: url(/polices/open/OpenSans-BoldItalic.ttf);
  }
  @font-face {
    font-family: Fontlato;
    src: url(/polices/lato/Lato-Italic.ttf);
  }
  @font-face {
    font-family: FontOswald;
    src: url(/polices/Oswald/Oswald-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Fontsalbo;
    src: url(/polices/salbo/Slabo27px-Regular.ttf);
  }
  @font-face {
    font-family: FontRoboto;
    src: url(/polices/roboto/Roboto-BoldItalic.ttf);
  }
  .roy{
    font-family: FontOswald;
    font-style: italic;
    padding-top: 1%;
    text-align: center;
    background:linear-gradient(rgba(134, 136, 136, 0.699) 50%,white 85%);
    margin-right: auto;
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 5px 10px -5px rgb(248, 242, 242);
    border-radius: 0px;
    border-right: 1px solid black;
  }

  .un{
    text-align: left;
  }

  .menu{
    padding-top: 2%;
    padding-left: 10%;
    width: 500px;
    position:static;
  }
  .text{
    font-family:Fontlato;
   font-style: italic;
   color: rgb(221, 95, 11);
   font-size: 20px;
  text-decoration: underline;
  }
  .script1{
    padding-top:5%;
    margin-left: 5%;
  }
  .centre{
    text-align: center;
    margin-left: 15%;
  }
  .salut{
    font-family: Fontsalbo;
    color: rgb(114, 201, 172);
    background: linear-gradient(black 60%,rgb(8, 199, 224) 100%);
    overflow:hidden;
    box-shadow: 0px 20px 10px -5px black;
    border-radius: 10px;
  }
  .entete{
    background-color:#040505;
    height: 75px;
    position: static;
  }

  .logo{
    height: 75px;
    position: static;
  }

  .img1{
    height: 75px;
    width: 75px;
  }

  .boruto{
    height: 500px;
    
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation:fondu 20s ease-in-out infinite both;
  }

  @keyframes fondu {
    0%{background-image: url("1.jpg");}
    33.33%{background-image: url("2.jpg");}
    66.67%{background-image: url("3.jpg");}
    100%{background-image: url("4.jpg");}
    100%{background-image: url("5.jpg");}
    
  }


  .boruto:hover{
    animation-play-state:running;
    height: 500px;
  }

  .connexion{

    margin-left: auto;
    height: 500px;
    padding-top: 2%;
  }

  .roy1{
    border-left:1px white solid;
    padding-left:4% ;
    margin-right:auto;
    text-align: center;
    font-family: Fontlato;
  }
  .colo1{
    color: rgb(0, 0, 0);
  }
/*Keyvan*/
.newsletter{
  color: rgb(6, 158, 120);
  height: 200px;
  text-align: center;
  margin-bottom: 100px;
}
footer{
  background-color: black;
 
}
.FET{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*Fin*/
